@model List<MVCCodeFirst_TrainingAcademySln.Models.UserRoleViewModel>
@{
    ViewBag.Title = "EditUserInRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = ViewBag.RoleId;
}

<h2>Add/Remove Role to/from User</h2>
<form method="post">
    <div class="row">
        <br />
        <table class="table table-bordered">
            <tr>
                <td colspan="2">Role Name @ViewBag.RoleName</td>
            </tr>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr colspan="2">
                    @Html.HiddenFor(u => Model[i].UserId);
                    @Html.HiddenFor(u => Model[i].UserName);
                    <td>
                        @if (Model[i].IsSelected)
                        {
                            @Html.CheckBoxFor(u => Model[i].IsSelected, new { @checked = "checked" })
                        }
                        else
                        {
                            @Html.CheckBoxFor(u => Model[i].IsSelected)
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(u => Model[i].UserName)
                    </td>
                </tr>
            }

        </table>
    </div>
    <div class="row">
        <input type="submit" value="Update User Role" class="btn btn-warning" style="width:auto" />
        @Html.ActionLink("Go to List", "Index", "Administrator", null, new { @class = "btn btn-primary" })
    </div>
</form>
